body {overflow-x: hidden;}

#homeIMG {
    position: absolute;
    top: 0;
    max-height: 500px;
    min-width: 100%;
    max-width: fit-content;
}

.navbar {
    min-height: 80px;
}


.navbar-brand {
    font-family: arial;
}

#home {
    min-height: 580px;
    width: 100%;
}

#stuff .card-header {
}

